@media only screen and (max-width: 700px) {
    .chartjs-width {
        width: 80vw;
        height: 40vh;
    }
}

@media only screen and (min-width: 700px) {
    .chartjs-width {
        width: 40vw;
        height: 40vh;
    }
}

.font-600 {
    font-weight: 600;
}