body {
  margin: 0
}
@media only screen and (max-width: 700px) {
    .chartjs-width {
        width: 80vw;
        height: 40vh;
    }

    .small-screen-divider {
        display: block;
    }

    .icon-size {
        font-size: 3rem;
    }

    .arrow-icon-size {
        font-size: 1.5rem;
    }

    .stats-page-size {
        height: 75vh;
    }

    .header-height-min {
        height: 25vh;
        margin: 0;
        padding: 0;
        width: 100%;
    }

    .navbar-title {
        font-size: 1rem;  
        color: #FFFFFFD9;
    }

    .navbar-icon-heading-position {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }

  .navbar-set-3 {
    display: flex;
    justify-content: center;
  }

  .navbar-set-2 {
    display: flex;
    justify-content: center;
  }

    .navbar {
        display: block;
    }
}

@media only screen and (min-width: 700px) {
    .chartjs-width {
        width: 40vw;
        height: 40vh;
    }
    .small-screen-divider {
        display: none;
    }

    .icon-size {
        font-size: 4rem;
    }

    .arrow-icon-size {
        font-size: 2rem;
    }

    .stats-page-size {
        height: 70vh;
    }

    .navbar-icon-heading-position {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        font-size: 2rem;
    }

    .navbar-title {
      font-size: 1rem;
      color: #FFFFFFD9;
  }

    .navbar {
        display: flex;
        height: 100%;
        justify-content: space-evenly;
    }

    .navbar-set-2 {
    margin-left: 20vw;
    display: flex;
    justify-content:center; 
  }

  
}
.stat-chart-div {
    display: flex;
    position: relative;
    height: 50vh;
    justify-content: center;
  }

.font-600 {
    font-weight: 600;
}
